@using CodeProject.Portal.Models
@{

    var version = typeof(CodeProject.Portal.MvcApplication).Assembly.GetName().Version.ToString();
    string baseUrl = System.Configuration.ConfigurationManager.AppSettings["BaseUrl"].ToString();

    List<CustomBundle> bundles = new List<CustomBundle>();

    CodeProject.Portal.Models.CustomBundle customBundle;

    List<string> codeProjectBundles = new List<string>();
    codeProjectBundles.Add("home");
    codeProjectBundles.Add("customers");
    codeProjectBundles.Add("products");   
    codeProjectBundles.Add("workflow");
    codeProjectBundles.Add("registries");
    codeProjectBundles.Add("forms");
    codeProjectBundles.Add("documents");
    codeProjectBundles.Add("mailTemplates");

    foreach (string controller in codeProjectBundles)
    {
        customBundle = new CodeProject.Portal.Models.CustomBundle();
        customBundle.BundleName = controller;
        customBundle.Path = System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/" + controller);
        customBundle.IsLoaded = false;
        bundles.Add(customBundle);
    }

    BundleInformation bundleInformation = new BundleInformation();
    bundleInformation.Bundles = bundles;
    string bundleInformationJSON = Newtonsoft.Json.JsonConvert.SerializeObject(bundleInformation, Newtonsoft.Json.Formatting.None);

}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <base href="@Url.Content("~/")" />
    <title>BPMS</title>



    <script src="~/Scripts/require.js"></script>
    


    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")

    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")

    
   
    @System.Web.Optimization.Scripts.Render("~/bundles/angular")

    @System.Web.Optimization.Scripts.Render("~/bundles/trNgGrid")
 

    <base href="@baseUrl" />

</head>
<body ng-app="app" ng-controller="masterController as vm" ng-init="vm.initializeController()">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #2D5C88; color:white !important;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="color:white !important">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="#">BPMS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="color:white !important">
                <ul class="nav navbar-nav" style="color:white !important">
                    <li><a href="#/Workflow/Workflow">Workflows</a></li>
                    <li><a href="#/Home/Index">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Workflow <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/Workflow/WorkflowType">Workflow Types</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/Workflow/ActionType">Action Types</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/Workflow/Status">Statuses</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Registries <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/Registries/RightType">Right Types</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/Registries/ContentRight">Content Rights</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/Registries/User">Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/Registries/Group">Groups</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/Registries/UserGroup">User Groups</a></li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forms <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/Forms/Form">Forms</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/Forms/ContentFormMap">Content Form Maps</a></li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documents <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/Documents/Document">Documents</a></li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mail<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/MailTemplates/MailTemplate">Mail Templates</a></li>
                        </ul>

                    </li>
                </ul>
               
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">User profile</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid body-content">

        @RenderBody()
        
        @*<footer style="position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px; width:80%; text-align:center">
            <p>&copy; @DateTime.Now.Year - Melika Kiselica</p>          
        </footer>*@
    </div>


    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @System.Web.Optimization.Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?ver=" + @version + "\"></script>", "~/bundles/shared")
    }
    else
    {
        @System.Web.Optimization.Scripts.Render("~/bundles/shared")
    }
    <script>

        (function () {

            var codeProjectApplication = angular.module('app');
            codeProjectApplication.provider('applicationConfiguration', function () {
                var _version;
                var _bundles;
                return {
                    setVersion: function (version) {
                        _version = version;
                    },
                    setBundles: function (bundles) {
                        _bundles = bundles;
                    },
                    getVersion: function () {
                        return _version;
                    },
                    getBundles: function () {
                        return _bundles;
                    },
                    $get: function () {
                        return {
                            version: _version,
                            bundles: _bundles
                        }
                    }
                }
            });

            codeProjectApplication.config(function (applicationConfigurationProvider) {
                applicationConfigurationProvider.setVersion('@version');
                applicationConfigurationProvider.setBundles('@Html.Raw(bundleInformationJSON)');
            });       

        })();

    </script>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @System.Web.Optimization.Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?ver=" + @version + "\"></script>", "~/bundles/routing-debug")
    }
    else
    {
        @System.Web.Optimization.Scripts.Render("~/bundles/routing-production")
    }

    @RenderSection("scripts", required: false)

</body>
</html>
